<div class="row">
  <h3><%= @restaurants.name %></h3>
</div>
<div class="row">
  <div class="columns medium-6">
    <p>
      <%= @restaurants.description %>
    </p>
  </div>
    <div class="columns medium-6">
      <h4>Comments</h4>
      <%= react_component('CommentSection', restaurantId: @restaurants.id, comments: raw(render(template: 'comments/index.json.jbuilder'))) %>
    </div>
</div>
